.button {
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 58px;
	padding-left: 37px;
	padding-right: 37px;
	border-radius: 29px;
	background-color: $accent;
	color: $white;
	line-height: calc(24 / 16 * 100%);
	transition: background-color .3s ease;

	&:hover {
		background-color: $button-hover;
	}
}